@use "../utilities/" as u;
@use "../global/" as g;
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: g.$White;
	z-index: 2;
	padding-block: u.rem(20);
	box-shadow: 0 u.rem(1) u.rem(10) u.rem(-2) g.$Dark-grayish-blue;
	transition: all 0.3s ease;

	@include u.breakpoints(large) {
		box-shadow: unset;
		padding-block: u.rem(25);
		.container {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: u.rem(78);
				left: 0;
				width: 100%;
				height: u.rem(1);
				opacity: 0.1;
				background-color: g.$Dark-grayish-blue;
			}
		}
	}

	.container {
		gap: u.rem(15);
		.logo {
			justify-self: flex-end;
			width: u.rem(140);
			padding: 1px;
		}
		.nav-links {
			@include u.flex;
			display: none;
		}
		.user-details {
			@include u.flex;
			justify-content: flex-end;
			flex-grow: 1;
			gap: u.rem(17);

			.cart {
				.checkout {
					.items {
						@include u.flex;
						flex-direction: column;
						align-items: stretch;
						gap: u.rem(50);
					}
					opacity: 0;
					visibility: hidden;
					height: u.rem(250);

					cursor: default;
					@include u.flex;
					flex-direction: column;
					position: absolute;
					top: u.rem(70);
					right: 0;
					left: 0;
					background-color: g.$White;
					box-shadow: u.rem(1) u.rem(7) u.rem(15) u.rem(-1) rgba(0, 0, 0, 0.2);
					border-radius: u.rem(8);
					z-index: 2;
					width: min(100% - u.rem(20), u.rem(460));
					margin-inline: auto;
					@include u.breakpoints(large) {
						left: unset;
					}
					h3 {
						display: block;
						font-size: u.rem(15);
						width: 100%;
						padding: u.rem(25);
						position: relative;
						&::after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: u.rem(1);
							background-color: g.$Dark-grayish-blue;
							opacity: 0.2;
						}
					}
					h2 {
						@include u.flex;
						justify-content: center;
						height: 100%;
					}
					.items {
						width: 100%;
						padding: u.rem(25);
						.sneaker-checkout {
							@include u.flex;
							gap: u.rem(5);
							.sneaker-img {
								width: u.rem(50);
								border-radius: u.rem(5);
								img {
									border-radius: u.rem(5);
								}
							}
							.details {
								@include u.flex;
								flex-direction: column;
								align-items: flex-start;
								gap: u.rem(7);
								p {
									font-weight: 400;
									color: g.$Dark-grayish-blue;
									span {
										color: g.$Black;
										font-weight: 700;
										font-size: u.rem(18);
									}
								}
							}

							.delete {
								width: u.rem(14);
								cursor: pointer;
							}
						}
						button {
							display: block;
							width: 100%;
							text-transform: capitalize;
							margin-top: u.rem(23);
							margin-bottom: u.rem(5);
							border: none;
							padding: u.rem(20);
							background-color: g.$Orange;
							color: g.$White;
							border-radius: u.rem(8);
							cursor: pointer;
							font-size: u.rem(15);
							font-weight: 700;
							transition: 0.3s ease;
							&:hover {
								opacity: 0.8;
								transition: 0.3s ease;
							}
						}
					}
				}
				.show {
					visibility: visible;
					opacity: 1;
					transition: opacity 0.25s ease;
					height: u.rem(300);
				}
				.scroll {
					overflow-y: scroll;
					scroll-behavior: smooth;
					&::-webkit-scrollbar {
						width: u.rem(1);
					}
					&::-webkit-scrollbar-track {
						background-color: g.$Grayish-blue;
					}
					&::-webkit-scrollbar-thumb {
						background-color: g.$Orange;
						border-radius: u.rem(6);
					}
				}
			}
			.before {
				&:before {
					content: attr(data-count);
					text-align: center;
					font-size: u.rem(13);
					color: g.$White;
					position: relative;
					display: grid;
					place-content: center;
					top: u.rem(9);
					left: u.rem(10);
					width: u.rem(13);
					padding-inline: u.rem(12);
					border-radius: u.rem(10);
					height: u.rem(17);
					background-color: g.$Orange;
					// display: none;
				}
			}
			.user {
				width: u.rem(25);
				height: u.rem(25);
				border-radius: 100%;
				border: u.rem(2.5) solid transparent;
				transition: border 0.5s ease;
				img {
					border-radius: 100%;
				}
				&:hover {
					border: u.rem(2.5) solid g.$Orange;
					transition: border 0.5s ease;
				}
			}
		}
		@include u.breakpoints(large) {
			.logo {
				margin-right: u.rem(35);
			}
			.nav-links {
				display: flex;
				align-items: center;
				gap: u.rem(25);
				li {
					list-style: none;
					a {
						text-decoration: none;
						font-weight: 400;
						color: g.$Dark-grayish-blue;
						font-size: u.rem(17);
						&:hover {
							color: g.$Very-vark-blue;
							transition: 0.4s ease;
						}
					}
				}
				.active {
					a {
						color: g.$Orange;
					}
					position: relative;
					&::before {
						content: "";
						position: absolute;
						top: u.rem(60);
						left: 0;
						width: 100%;
						height: u.rem(3);
						background-color: g.$Orange;
					}
				}
			}
			.hamburger {
				display: none;
			}
			.user-details {
				.user {
					margin-left: u.rem(30);
					width: u.rem(50);
					height: u.rem(50);
				}
			}
		}
	}
}

@include u.breakpoints(large) {
	.active-scroll {
		padding-block: u.rem(10);
		backdrop-filter: blur(7px);
		background-color: rgba(238, 224, 224, 0.13);
		.container {
			.nav-links {
				li {
					a {
						color: g.$Very-vark-blue;
					}
				}
			}
			&:after {
				display: none;
			}
			.active {
				&::before {
					display: none;
				}
				a {
					font-weight: 400;
					&:hover,
					&:active {
						color: g.$Orange;
					}
				}
			}
		}
	}
}
